<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConStringExcel03" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};   Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="ConStringExcel07" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};  Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
       
      <!--<endpoint name="SecurityEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://10.12.10.36:7000/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity" />
      <endpoint name="GeneralEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://10.12.10.36:7001/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral" />
      <endpoint name="InventoryEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://10.12.10.36:7002/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory" />
      <endpoint name="CommonSearchEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://10.12.10.36:7003/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch" />
      <endpoint name="SalesEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://10.12.10.36:7004/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales" />
      <endpoint name="FinancialEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://10.12.10.36:7005/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial" />
      <endpoint name="CustServiceEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://10.12.10.36:7006/FFCustServiceSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICustService" />
      <endpoint name="MsgPortalEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://10.12.10.36:7007/FFMsgPortalSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IMsgPortal" />-->
      
      <!--<endpoint name="SecurityEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.67:7000/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity" />
      <endpoint name="GeneralEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.67:7001/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral" />
      <endpoint name="InventoryEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.67:7002/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory" />
      <endpoint name="CommonSearchEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.67:7003/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch" />
      <endpoint name="SalesEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.67:7004/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales" />
      <endpoint name="FinancialEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.67:7005/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial" />-->

        <endpoint name="SecurityEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.77:7000/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity" />
        <endpoint name="GeneralEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.77:7001/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral" />
        <endpoint name="InventoryEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.77:7002/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory" />
        <endpoint name="CommonSearchEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.77:7003/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch" />
        <endpoint name="SalesEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.77:7004/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales" />
        <endpoint name="FinancialEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.77:7005/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial" />
        <endpoint name="CustServiceEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.77:7006/FFCustServiceSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICustService" />
        <endpoint name="MsgPortalEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.1.77:7007/FFMsgPortalSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IMsgPortal" />

      <!--<endpoint name="SecurityEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7800/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity"/>
      <endpoint name="GeneralEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7801/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral"/>
      <endpoint name="InventoryEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7802/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory"/>
      <endpoint name="CommonSearchEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7803/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch"/>
      <endpoint name="SalesEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7804/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales"/>
      <endpoint name="FinancialEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7805/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial"/>
      <endpoint name="CustServiceEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7806/FFCustServiceSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICustService"/>
      <endpoint name="MsgPortalEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7807/FFMsgPortalSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IMsgPortal"/>
      <endpoint name="ToursEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7808/FFToursSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ITours"/>-->

      

      
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="CommonBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" name="netTcpBinding" transferMode="Streamed"  listenBacklog="2000" maxBufferPoolSize="2147483647"  maxBufferSize="2147483647"  maxConnections="2000"
                         closeTimeout="04:04:00" openTimeout="04:04:00" receiveTimeout="04:04:00" sendTimeout="04:04:00">
          <readerQuotas maxDepth="32"  maxStringContentLength="2147483647"  maxArrayLength="2147483647"  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="04:04:00"
               enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--0-Live, 1-Test, 2-Parrallel, 3-HMC-->
    <add key="SystemType" value="0" /> 
    <add key="FormatToCurrency" value="{0:#,##0.00}" />
    <add key="FormatToQty" value="{0:#,##0.000}" />
    <add key="FormatToDate" value="{0:dd/MMM/yyyy}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- show Notification : 1-show || 0-Hide -->
    <add key="ShowNotification" value="1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
