@{
    ViewBag.Title = "Job Closure";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var val = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteVersion"].ToString();
}
@section Scripts
{  
@*<script src="~/Scripts/Common/JobClosure.js"></script>*@
<script src="~/Scripts/Common/JobClosure.js?@val"></script>
}


<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Job Closure
            <small>Form</small> 
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"> Job Closure</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content clearfix">
        <!-- button container set begin -->
        <div class="col-md-12 text-right btn-scroll-top ">
            <button class="btn btn-sm btn-yellow-fullbg btn-reopen">
                <i class="glyphicon glyphicon-cloud"></i>
                Re-open
            </button>
            <button class="btn btn-sm btn-green-fullbg btn-save">
                <i class="glyphicon glyphicon-ok-circle"></i>
                Save
            </button>
            <button class="btn btn-sm btn-ash-fullbg btn-view">
                <i class="glyphicon glyphicon-pencil"></i> View
            </button>
            <button class="btn btn-sm btn-blue-fullbg btn-print">
                <i class="glyphicon glyphicon-print"></i> Print
            </button>
            <button class="btn btn-sm btn-red-fullbg btn-clear">
                <i class="glyphicon glyphicon-refresh"></i> Clear
            </button>
        </div>
        <!-- button container set end-->

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @id = "inv-data" }))
{
        <div class="row">
            <div class="col-lg-12">
                <!-- customer details begin -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title form-headding">Job Header</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1-3">
                                    <div class="form-group">
                                        <label>Pouch No</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="pouchno" id="pouchno" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalviewdf" class="btn btn-default btn-flat btn-pouch-no"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1-3">
                                    <div class="form-group">
                                        <label>Job No</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="jobno" id="jobno" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalviewdf" class="btn btn-default btn-flat btn-job-no"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1-4">
                                    <!-- /.form-group -->
                                    <label>Date</label>
                                    <div class="input-group date" >
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" name="date" id="date" class="form-control pull-right datepic" disabled>
                                    </div>
                                    <!-- /.form-group -->
                                </div>

                                <div class="col-md-1-3">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="status" id="status" disabled class="form-control">
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Additional Comments</label>
                                        <textarea rows="2" name="remark" id="remark"></textarea>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1-3">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="desc" id="desc" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1-3">
                                    <div class="form-group">
                                        <label>Cost</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="cost" id="cost" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button"   class="btn btn-default btn-flat btn-add-cost"><i class="glyphicon glyphicon-arrow-down"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- /.col -->
                                <div class="col-md-1-3">
                                    <div class="form-group">
                                        <label>Loss/Profit</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="costdiff" id="costdiff" disabled class="form-control" style="background-color:#e6c888; text-align:right;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1-4">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Re-open Comments</label>
                                        <textarea rows="2" name="reremark" id="reremark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->



            </div>
            <div class="col-lg-6">
                <!-- contact details begin -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title form-headding">Cost</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover dataTable tbl-cost-data">
                                    <thead>
                                        <tr>
                                            <th>Cost Discription</th>
                                            <th>Cost</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody-scroll300">
                                       
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm" style="float:right;">
                                                <input type="text" name="totcost" id="totcost" class="form-control dec-align" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- contact details end -->
            </div>
            <div class="col-md-6">

                <!-- status begin -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title form-headding">Revenue</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover dataTable tbl-rev-data">
                                    <thead>
                                        <tr>
                                            <th>Revenue Code</th>
                                            <th>Revenue Discription</th>
                                            <th>Revenue</th>
                                        </tr>
                                    </thead>

                                    <tbody class="tbody-scroll300">
                                       
                                    </tbody>
                                </table>
                                
                                    <div class="col-md-3-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm" style="float: right;">
                                                <input type="text" name="totrev" id="totrev" class="form-control dec-align" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                           
                        </div>
                        @*<div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover dataTable">                                    
                                    <tbody>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    </tbody>
                                </table>
                            </div>
                        </div>*@
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>


        </div>
}
    </section>
    <!-- end main section -->
</div>

