<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FF.AbansTours.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <appSettings>
    <add key="DBServer" value="192.168.1.227" />
    <add key="DBName" value="EMS" />
    <add key="DBUser" value="EMS" />
    <add key="DBPassword" value="SYSTEM" />
    <add key="REPDBServer" value="192.168.1.222" />
    <add key="REPDBName" value="REPORTDB" />
    <add key="REPDBUser" value="SCMREP" />
    <add key="REPDBPassword" value="SCMREP" />
    <add key="FormatToCurrency" value="{0:#,##0.00}" />
    <add key="FormatToQty" value="{0:#,##0.000}" />
    <add key="FormatToDate" value="{0:dd/MMM/yyyy}" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <!-- //  WCF Settings     -->
  <system.serviceModel>
    <client>
      <endpoint name="SecurityEndPoint" address="net.tcp://localhost:7000/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity" />
      <endpoint name="GeneralEndPoint" address="net.tcp://localhost:7001/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral" />
      <endpoint name="InventoryEndPoint" address="net.tcp://localhost:7002/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory" />
      <endpoint name="CommonSearchEndPoint" address="net.tcp://localhost:7003/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch" />
      <endpoint name="SalesEndPoint" address="net.tcp://localhost:7004/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales" />
      <endpoint name="FinancialEndPoint" address="net.tcp://localhost:7005/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial" />
      <endpoint name="CustServiceEndPoint" address="net.tcp://localhost:7006/FFCustServiceSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICustService" />
      <endpoint name="ToursEndPoint" address="net.tcp://localhost:7008/FFToursSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ITours" />
      <!--<endpoint name="SecurityEndPoint" address="net.tcp://192.168.51.10:7000/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity" />
      <endpoint name="GeneralEndPoint" address="net.tcp://192.168.51.10:7001/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral" />
      <endpoint name="InventoryEndPoint" address="net.tcp://192.168.51.10:7002/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory" />
      <endpoint name="CommonSearchEndPoint" address="net.tcp://192.168.51.10:7003/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch" />
      <endpoint name="SalesEndPoint" address="net.tcp://192.168.51.10:7004/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales" />
      <endpoint name="FinancialEndPoint" address="net.tcp://192.168.51.10:7005/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial" />
      <endpoint name="CustServiceEndPoint" address="net.tcp://192.168.51.10:7006/FFCustServiceSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICustService" />
      <endpoint name="ToursEndPoint" address="net.tcp://192.168.51.10:7008/FFToursSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ITours" />-->
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CommonBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" maxReceivedMessageSize="2147483647" transferMode="Streamed" listenBacklog="500" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="500" closeTimeout="02:02:00" openTimeout="02:02:00" receiveTimeout="02:02:00" sendTimeout="02:02:00">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="02:02:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <!--   WCF Settings  //   -->
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <pages maintainScrollPositionOnPostBack="true" />
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="30" slidingExpiration="true" defaultUrl="Login.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors defaultRedirect="CommenErr_Msg.aspx" mode="Off">
      <error statusCode="401" redirect="CommenErr_Msg.aspx" />
    </customErrors>
    <machineKey validationKey="80F1595DD03DD723E5C537E82D78382CEC60D82E8D36FC462017E09A65138CE09853BCEE4EC5105D603DE6832ECAC767CDA4F06554C1E08F7066C575B18E44C8" decryptionKey="88C8459B11660D272AE9F1F366C92B781156FFA77FC03496" validation="SHA1" />
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
  </system.web>
  <applicationSettings>
    <FF.AbansTours.Properties.Settings>
      <setting name="AbansERPClient_AbansWService_SecurityService" serializeAs="String">
        <value>http://localhost:1147/ModuleServices/SecurityService.asmx</value>
      </setting>
    </FF.AbansTours.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" />
  </system.diagnostics>
  <location path="css/style.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>