@{
    ViewBag.Title = "About";
}
<h3><b>ASYCUDA</b> - <b>A</b>utomated <b>SY</b>stem for <b>CU</b>stoms <b>DA</b>ta</h3>
<div class="row">
<div class="col-md-8">
<p>ASYCUDA is a computerised customs management system which covers most foreign trade procedures.  The system handles manifests and customs declarations, accounting procedures, transit and suspense procedures.

ASYCUDA generates trade data that can be used for statistical economic analysis.

The ASYCUDA software is developed in Geneva by UNCTAD.  It operates on micro in a client server environment under UNIX and DOS operating systems and RDBMS Software.

ASYCUDA takes into account the international codes and standards developed by ISO (International Organisation for Standardisation), WCO (World Customs Organization) and the United Nations.

ASYCUDA can be configured to suit the national characteristics of individual Customs regimes, National Tariff, legislation,...

ASYCUDA provides for Electronic Data Interchange (EDI) between traders and Customs using EDIFACT (Electronic Data Interchange for Administration, Commerce and Transport) rules.</p>
</div>
<div class="col-md-4"><img src="~/Resources/Images/genevastatue.jpg"></div>
</div>
<div class="row">
    <div class="Title"><b>Background</b></div>
    <div class="col-md-12">
    <p>
        In 1981 UNCTAD received a request from the secretariat of the Economic Community of Western African States (ECOWAS) to assist in the compilation of foreign trade statistics in their member States. After an initial evaluation it became quickly apparent that this would require the involvement of Customs clearance offices, and the modernization of Customs clearance procedures, to achieve quality results.

        Taking advantage of advances in computer technology (the Personal Computer had at that time matured to be seriously considered as a business tool) UNCTAD proposed to develop a Customs software system which would be modular, adaptable and configurable so that it could be used in difficult environments requiring only a small number of trained maintenance staff.

        This proposal was received with a lot of skepticism considering that many countries used mainframes system with on-site specialized computer engineers to support them. Despite that UNCTAD succeeded with the assistance of some member States to develop such a system, which is now commonly known under its name ASYCUDA.

        ASYCUDA was originally developed on micro computers which were extremely limited by today's standards. In order to implement a complex Customs system in a multi user environment on such a platform a technical solution had to be applied which stretched the capacity of these machines to their limit.

        However, over the years capacity and performance of micro computers have rapidly improved and major revisions of the ASYCUDA software have led to a very stable and highly reliable system. In addition, a porting to the UNIX operating system has broadened the choice of suitable hardware platforms to include also a number of mini computers.

        In order to benefit from the latest innovations in information technology (IT) the ASYCUDA Technical Development and Implementation unit (ATDI) has designed and developed ASYCUDA++ which uses object oriented tools in a client/server architecture and is based on a relational data base management system (RDBMS). This version has been ported to a wide range of both Intel and risc-based platforms.

    </p>
        </div>
</div>