@{
    ViewBag.Title = "Home Page";
}
<div class="index-body">
    <div class="jumbotron">
        <div class="animation">
            <object width="640" height="220" align="" id="splash3" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                <param value="
splash3.swf" name="movie"> <param value="false" name="loop"> <param value="high" name="quality"> <param value="#D4D0C8" name="bgcolor"> <embed width="640" height="220" align="" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="splash1" bgcolor="#D4D0C8" quality="high" loop="false" src="http://www.asycuda.org/splash3.swf">
            </object>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>