
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">


    <section class="content-header">
        <h1>
            Home
            <small>Page</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Welcome</a></li>
            <li class="active">Home</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content clearfix">

        <div class="col-md-12 text-center">
            <img src="~/Content/theme/img/background.jpg" class="img-responsive" />
        </div>



        <!-- /.error-page -->
    </section>
    <!-- end main section -->
</div>