<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <add name ="Conn" connectionString="DATA SOURCE=SCM2;PASSWORD=EMS123;USER ID=EMS;validate connection=true"
             providerName="Oracle.DataAccess.Client"/>
        <add name ="ConnReportsdb" connectionString="DATA SOURCE=REPORTDB;PERSIST SECURITY INFO=True;PASSWORD=SCMREP;USER ID=SCMREP;validate connection=true"
           providerName="Oracle.DataAccess.Client"/>
      <add name ="ConnFMS" connectionString="DATA SOURCE=FMS;PASSWORD=SYSTEM;USER ID=FMS;validate connection=true"
             providerName="Oracle.DataAccess.Client"/>
        <add name ="LdapConn" connectionString="LDAP://192.168.1.36:389/DC=abans,DC=local"/>
        <add name ="domainName" connectionString="abans"/>
        <add name ="domainAuthenticateUser" connectionString="ff"/>
        <add name ="domainAuthenticateUserpw" connectionString="Fa$tF0rward"/>
    </connectionStrings>
    <!--<AppSettings>
         <add key ="domainName" value = "abans"/>
        <add key ="domainAuthenticateUser" value = "ff"/>
        <add key ="domainAuthenticateUserpw" value = "Fa$tF0rward"/>
    </AppSettings>-->

    <system.web>
        <compilation debug="true" />
    </system.web>

    <system.serviceModel>

        <behaviors>
            <serviceBehaviors>
                <behavior name="CommonBehavior" />
            </serviceBehaviors>
        </behaviors>



        <services>
            

            <!-- ## Inventory Service Model  ## -->
            <service behaviorConfiguration="CommonBehavior" name="FF.BusinessLogicLayer.InventoryBLL">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
                    name="InventoryEndPoint" contract="FF.Interfaces.IInventory">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:7002/FFInventorySVC" />
                    </baseAddresses>
                </host>
            </service>

           
        </services>



    </system.serviceModel>
</configuration>
