@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Not Found";
}

<div class="wrap container error-page">
    <div class="logo">
        <h1>404</h1>
        <p>Sorry This was dead link - Page not Found</p>
        <div class="sub">
            <p><a href="/Cusdec/Index">Go Back</a></p>
        </div>
    </div>
</div>
