<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FF.WebERPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="DBServer" value="192.168.1.227"/>
    <add key="DBName" value="EMS"/>
    <add key="DBUser" value="EMS"/>
    <add key="DBPassword" value="SYSTEM"/>
    <add key="REPDBServer" value="192.168.1.222"/>
    <add key="REPDBName" value="REPORTDB"/>
    <add key="REPDBUser" value="SCMREP"/>
    <add key="REPDBPassword" value="SCMREP"/>
    <add key="FormatToCurrency" value="{0:#,##0.00}"/>
    <add key="FormatToQty" value="{0:#,##0.000}"/>
    <add key="FormatToDate" value="{0:dd/MMM/yyyy}"/>
  </appSettings>
  <connectionStrings>
    <add name="CustermizedOraAspNetConString" connectionString="DATA SOURCE=EMS;PASSWORD=SYSTEM;USER ID=EMS" providerName="Oracle.DataAccess.Client"/>
    <add name="ConStringExcel03" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};   Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="ConStringExcel07" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};  Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <!-- //  WCF Settings     -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="9000000" name="netTcpBinding" transferMode="Buffered" listenBacklog="500" maxBufferPoolSize="9000000" maxBufferSize="9000000" maxConnections="500" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxStringContentLength="9000000" maxArrayLength="9000000" maxBytesPerRead="9000000" maxNameTableCharCount="9000000"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <!--<binding maxReceivedMessageSize="20000000" maxBufferPoolSize="20000000" name="netTcpBinding"/>-->
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="SecurityEndPoint" address="net.tcp://localhost:7000/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity"/>
      <endpoint name="GeneralEndPoint" address="net.tcp://localhost:7001/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral"/>
      <endpoint name="InventoryEndPoint" address="net.tcp://localhost:7002/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory"/>
      <endpoint name="CommonSearchEndPoint" address="net.tcp://localhost:7003/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch"/>
      <endpoint name="SalesEndPoint" address="net.tcp://localhost:7004/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales"/>
      <endpoint name="FinancialEndPoint" address="net.tcp://localhost:7005/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial"/>
    </client>
  </system.serviceModel>
  <!--   WCF Settings  //   -->
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Login.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="Login.aspx" cookieless="UseCookies" enableCrossAppRedirects="false"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="CustomizedProvider">
      <providers>
        <add name="CustomizedProvider" type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="CustermizedOraAspNetConString" applicationName="" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <machineKey validationKey="80F1595DD03DD723E5C537E82D78382CEC60D82E8D36FC462017E09A65138CE09853BCEE4EC5105D603DE6832ECAC767CDA4F06554C1E08F7066C575B18E44C8" decryptionKey="88C8459B11660D272AE9F1F366C92B781156FFA77FC03496" validation="SHA1"/>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="CustomizedRoleProvider" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="CustomizedRoleProvider" type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="CustermizedOraAspNetConString" applicationName=""/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <applicationSettings>
    <FF.WebERPClient.Properties.Settings>
      <setting name="AbansERPClient_AbansWService_SecurityService" serializeAs="String">
        <value>http://localhost:1147/ModuleServices/SecurityService.asmx</value>
      </setting>
    </FF.WebERPClient.Properties.Settings>
  </applicationSettings>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13"/>
        <add key="url" value="~/Images/PrintControl.cab"/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <system.diagnostics>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>