<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="VersionNo" value="1:0:0:233.2"/>
    <!--<add key ="VersionNo" value ="1:0:0:233.16"/>
    <add key ="VersionNo" value ="1:0:0:196"/>-->
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="SecurityEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7000/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity"/>
      <endpoint name="GeneralEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7001/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral"/>
      <endpoint name="InventoryEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7002/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory"/>
      <endpoint name="CommonSearchEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7003/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch"/>
      <endpoint name="SalesEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7004/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales"/>
      <endpoint name="FinancialEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7005/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial"/>
      <endpoint name="CustServiceEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7006/FFCustServiceSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICustService"/>
      <endpoint name="MsgPortalEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7007/FFMsgPortalSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IMsgPortal"/>
      <endpoint name="ToursEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://localhost:7008/FFToursSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ITours"/>
      <!--<endpoint name="SecurityEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7310/FFSecuritySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISecurity"/>
      <endpoint name="GeneralEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7311/FFGeneralSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IGeneral"/>
      <endpoint name="InventoryEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7312/FFInventorySVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IInventory"/>
      <endpoint name="CommonSearchEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7313/FFCommonSearchSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICommonSearch"/>
      <endpoint name="SalesEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7314/FFSalesSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ISales"/>
      <endpoint name="FinancialEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7315/FFFinancialSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IFinancial"/>
      <endpoint name="CustServiceEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7316/FFCustServiceSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ICustService"/>
      <endpoint name="MsgPortalEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7317/FFMsgPortalSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.IMsgPortal"/>
      <endpoint name="ToursEndPoint" behaviorConfiguration="CommonBehavior" address="net.tcp://192.168.51.10:7318/FFToursSVC" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="FF.Interfaces.ITours"/>-->
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CommonBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" name="netTcpBinding" transferMode="Streamed" listenBacklog="2000" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="2000" closeTimeout="08:00:00" openTimeout="08:00:00" receiveTimeout="08:00:00" sendTimeout="08:00:00">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="08:00:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <!--<binding maxReceivedMessageSize="20000000" maxBufferPoolSize="20000000" name="netTcpBinding"/>-->
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
</configuration>