<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="DATA SOURCE=SCM2;PASSWORD=EMS123;USER ID=EMS;validate connection=true" providerName="Oracle.DataAccess.Client"/>
    <add name="ConnReportsdb" connectionString="DATA SOURCE=REPORTDB;PERSIST SECURITY INFO=True;PASSWORD=SCMREP;USER ID=SCMREP;validate connection=true" providerName="Oracle.DataAccess.Client"/>
    <add name="ConnSCM" connectionString="DATA SOURCE=SCM;PERSIST SECURITY INFO=True;PASSWORD=FAST0ABANS7SCM;USER ID=SCM;validate connection=true" providerName="Oracle.DataAccess.Client"/>

    <add name="LdapConn" connectionString="LDAP://192.168.1.36:389/DC=abans,DC=local"/>
    <add name="domainName" connectionString="abans"/>
    <add name="domainAuthenticateUser" connectionString="ff"/>
    <add name="domainAuthenticateUserpw" connectionString="Fa$tF0rward"/>
    <add name="PasswordHash" connectionString="S%c@M~I$I"/>
  </connectionStrings>
  <AppSettings>
    <add key="domainName" value="abans"/>
    <add key="domainAuthenticateUser" value="ff"/>
    <add key="domainAuthenticateUserpw" value="Fa$tF0rward"/>
  </AppSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
